body {
    background-color: #001433;
    color: white;
    overflow-x: hidden;
}
html {
    font-family: "Roboto", sans-serif;
    scroll-behavior: smooth;
}
h1, h2, h3 {
    font-family: "Minerva Regular";
}
h1 {
    font-size: 4rem;
}
h2{
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 2rem;
    letter-spacing: 1px;
}
.round1 {
    width: 462px;
    height: 474px;
    background-color: #C2ADAD;
    border-radius: 50%;
    position: absolute;
    top: -200px;
    left: -200px;
    filter: blur(400px);
    z-index: -1; 
    animation: pulse 5s infinite;
}
@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(1.1);
        opacity: 0.7;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}
header {
    height: 100vh;
    position: relative;
    scroll-snap-align: start;
}
nav {
    margin: 0 3rem;
}
.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-container a {
    margin-right: 1rem;
    color: white;
    text-decoration: none;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    margin-left: auto;
}
.nav-links a {
    transition: all ease-in-out .3s;
}
.nav-links a:hover {
    color: #BE5C00;
    transition: all ease-in-out .3s;
}
.tickets-nav a {
    background-color: #BE5C00;
    padding: .6rem 1rem;
    border-radius: 10px;
    transition: all ease-in-out .3s;
}
.tickets-nav a:hover {
    box-shadow: #BE5C00 0px 0px 80px;
    transition: all ease-in-out .3s;
    color: white;
}  
.header-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: calc(100vh - 15.5rem); 
}
.header-content h1 {
    margin-bottom: 1rem;
    margin-top: 1rem;
}
.btn-header {
    display: flex;
    justify-content: center;
    width: 100%;
}
.btn-header a {
    display: inline-flex;
    justify-content: center;
    color: white;
    background-color: #BE5C00;
    padding: .9rem 1.5rem;
    text-decoration: none;
    border-radius: 10px;
    transition: all ease-in-out .3s;
}
.btn-header a:hover {
    box-shadow: #BE5C00 0px 0px 80px;
    transition: all ease-in-out .3s;
}
.about{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.about p{
    margin: 5rem 10rem 0rem 10rem;
    line-height: 1.5rem;
}
.round2 {
    width: 462px;
    height: 474px;
    background-color: #C2ADAD;
    border-radius: 50%;
    position: absolute;
    top: 70%;
    right: 0;
    filter: blur(400px);
    z-index: -1;
    animation: pulse 5s infinite;
}
.line-up {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.line-up-content{
    max-width: 812px;
    margin: 0 auto;
}
.artist {
max-width: 200px;
}
.artist img {
    width: 200px;
    height: 200px;
    object-position: center top;
    object-fit: cover;
    border-radius: 20px;
    transition: all ease-in-out .3s;
}
.artist img:hover{
    transform: scale(1.03);
    box-shadow: #BE5C00 0px 0px 80px;
    transition: all ease-in-out .3s;
}
.artist h3 {
    margin-top: 1rem;
    font-size: 1.5rem;
    text-align: center;
}
.headliners {
    display: flex;
    justify-content: space-around;
    max-width: 812px;
    margin: 0 auto;
    flex-wrap: wrap;
}
.prog {
    padding: 40px 0 0 0;
    max-width: 812px;
    margin: 0 auto;
}
.prog p {
    display: inline-block;
    margin: 0 1rem;
    line-height: 40px;
}
.prog h3{
    margin: 2rem 0 0.5rem 0;
    font-family: "Roboto", sans-serif;
}
.round3 {
    position: absolute;
    width: 462px;
    height: 474px;
    background-color: #C2ADAD;
    border-radius: 50%;
    filter: blur(400px); 
    z-index: -1; 
    top: 1800px;
    left: 50%;
    transform: translate(-50%, -50%); 
}
.more {
    text-align: center;
    font-weight: bold;
    color: #BE5C00;
}
.vip {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}
.vip-content {
    margin: 0 auto;
}
.advantages {
    margin: 0 auto;
    padding: 2rem 0;
}
.btn-vip {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}
.btn-vip a{
    color: white;
    background-color: #BE5C00;
    padding: 0.6rem 1rem;
    text-decoration: none;
    border-radius: 10px;
    transition: all ease-in-out .3s;
}
.btn-vip a:hover {
    box-shadow: #BE5C00 0px 0px 80px;
    transition: all ease-in-out .3s;
}
.tickets {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.tickets-boxs{
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    max-width: 1000px;
    flex-wrap: wrap;
}
.box {
    flex: 0 1 428px;
    justify-content: space-around;
    margin:30px auto;
    width: 428px;
    height: 241px;
    border: 2px solid white;
    background-color: rgba(0, 0, 0, 0.20);
    border-radius: 20px;
}
.box h3{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin: 20px 0 28px 0;
}
.box p{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin: 28px 0 28px 0;
}
.box p {
    margin: 0 0 20px 0;
}
.box .price {
    font-size: 22px;
    margin: 0 0 0 0;
}
.box .price span{
    font-size: 16px;
    text-decoration: line-through;
    font-style: italic;
    color: #ffffff6d;
}
.btn-buy {
    display: flex;
    justify-content: center;
    margin: 40px auto;
}
.btn-buy-vip{
    display: flex;
    justify-content: center;
    margin: 40px auto;
}
.btn-buy a {
    display: inline-block;
    color: white;
    border: solid 2px #BE5C00;
    padding: 0.4rem 1rem;
    text-decoration: none;
    border-radius: 10px;
    margin: 0 auto;
    transition: all ease-in-out .3s;
}
.btn-buy a:hover {
    background-color: #BE5C00;
    transition: all ease-in-out .3s;
    color: white;
}
.btn-buy-vip a {
    display: inline-block;
    color: white;
    background-color: #BE5C00;
    padding: 0.4rem 1rem;
    text-decoration: none;
    border-radius: 10px;
    margin: 0 auto;
    transition: all ease-in-out .3s;
}
.btn-buy-vip a:hover {
    box-shadow: #BE5C00 0px 0px 80px;
    transition: all ease-in-out .3s;
    color: white;
}

.special p{
    position: relative;
    &::before {
        content: "LIMITED TICKETS";
        position: absolute;
        top: -31px;
        left: 50%;
        transform: translateX(-50%);
        background-color: #BE5C00;
        color: white;
        padding: 0.2rem 0.5rem;
        border-radius: 5px;
        font-size: 0.8rem;
        font-weight: bold;
    }
}
.vip-box {
    border: 2px solid #BE5C00;
}
.faq {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container {
  margin: 0 auto;
  padding: 4rem;
  width: 48rem;
}

.accordion .accordion-item {
  border-bottom: 1px solid #e5e5e5;
}
.accordion .accordion-item button[aria-expanded=true] {
  border-bottom: 1px solid #BE5C00;
}
.accordion button {
  position: relative;
  display: block;
  text-align: left;
  width: 100%;
  padding: 1em 0;
  color: #7288a2;
  font-size: 1.15rem;
  font-weight: 400;
  border: none;
  background: none;
  outline: none;
}
.accordion button:hover, .accordion button:focus {
  cursor: pointer;
  color: #BE5C00;
}
.accordion button:hover::after, .accordion button:focus::after {
  cursor: pointer;
  color: #BE5C00;
  border: 1px solid #BE5C00;
}
.accordion button .accordion-title {
  padding: 1em 1.5em 1em 0;
}
.accordion button .icon {
  display: inline-block;
  position: absolute;
  top: 18px;
  right: 0;
  width: 22px;
  height: 22px;
  border: 1px solid;
  border-radius: 22px;
}
.accordion button .icon::before {
  display: block;
  position: absolute;
  content: "";
  top: 9px;
  left: 5px;
  width: 10px;
  height: 2px;
  background: currentColor;
}
.accordion button .icon::after {
  display: block;
  position: absolute;
  content: "";
  top: 5px;
  left: 9px;
  width: 2px;
  height: 10px;
  background: currentColor;
}
.accordion button[aria-expanded=true] {
  color: #BE5C00;
}
.accordion button[aria-expanded=true] .icon::after {
  width: 0;
}
.accordion button[aria-expanded=true] + .accordion-content {
  opacity: 1;
  max-height: 15em;
  transition: all 200ms linear;
  will-change: opacity, max-height;
}
.accordion .accordion-content {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 200ms linear, max-height 200ms linear;
  will-change: opacity, max-height;
}
.accordion .accordion-content p {
  font-size: 1rem;
  font-weight: 300;
  margin: 2em 0;
}

.legals {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.20);
}
.legals-content {
    margin: 0 auto;
    padding: 1rem 0;
}
.legals a{
    color: white;
    text-decoration: none;
    margin: 1rem;
}
.legals-link {
    margin-bottom: 1rem;
}

@media screen and (max-width: 768px) {
    .about p {
        margin: 5rem 2rem 0rem 2rem;
    }
    .line-up {
        height: auto;
    }
    .container {
        padding: 2rem;
        width: 70%;
    }
    .accordion button[aria-expanded=true] + .accordion-content  {
        max-height: 500em;
    }
}